.product_list.list .ajax_block_product .pro_first_box{max-width: 250px;}.product_list.list .ajax_block_product .pro_second_box{margin-left: 270px;}.is_rtl .product_list.list .ajax_block_product .pro_second_box{margin-left:0;margin-right: 270px;}.products_sldier_swiper .ajax_block_product .pro_outer_box.cart_default, .product_list.grid .ajax_block_product .pro_outer_box.cart_default{max-width: 70px;}.products_sldier_swiper .ajax_block_product .pro_outer_box.home_default, .product_list.grid .ajax_block_product .pro_outer_box.home_default{max-width: 250px;}.products_sldier_swiper .ajax_block_product .pro_outer_box.large_default, .product_list.grid .ajax_block_product .pro_outer_box.large_default{max-width: 700px;}.products_sldier_swiper .ajax_block_product .pro_outer_box.medium_default, .product_list.grid .ajax_block_product .pro_outer_box.medium_default{max-width: 423px;}.images-container .pro_gallery_top_inner, .images-container .pro_gallery_thumbs_horizontal{margin-left: auto;margin-right:auto;}.images-container.pro_number_1 .pro_gallery_top_inner, .images-container.pro_number_1 .pro_gallery_thumbs_horizontal{max-width: 423px;}
                    .images-container.pro_number_2 .pro_gallery_top_inner, .images-container.pro_number_2 .pro_gallery_thumbs_horizontal{max-width: 423px;}
                    .images-container.pro_number_3 .pro_gallery_top_inner, .images-container.pro_number_3 .pro_gallery_thumbs_horizontal{max-width: 423px;}
                    .images-container.pro_number_4 .pro_gallery_top_inner, .images-container.pro_number_4 .pro_gallery_thumbs_horizontal{max-width: 423px;}
                    .images-container.pro_number_5 .pro_gallery_top_inner, .images-container.pro_number_5 .pro_gallery_thumbs_horizontal{max-width: 423px;}
                    .images-container.pro_number_6 .pro_gallery_top_inner, .images-container.pro_number_6 .pro_gallery_thumbs_horizontal{max-width: 423px;}.products_sldier_swiper .ajax_block_product .pro_outer_box.small_default, .product_list.grid .ajax_block_product .pro_outer_box.small_default{max-width: 105px;}.products_sldier_swiper .ajax_block_product .pro_outer_box.superlarge_default, .product_list.grid .ajax_block_product .pro_outer_box.superlarge_default{max-width: 800px;}.st_image_scrolling_item{margin-bottom:20px;}.st_image_scrolling_wrap .st_image_scrolling_item {padding-left:10px;padding-right:10px;}.st_image_scrolling_wrap .row{margin-left:-10px;margin-right:-10px;}.featured_categories_item .pro_outer_box.category_default{max-width: 140px;}.featured_categories_item .pro_outer_box.home_default{max-width: 250px;}.featured_categories_item .pro_outer_box.medium_default{max-width: 423px;}body{font-family:IRANSans, Tahoma, sans-serif, Arial;}.price,#our_price_display,.old_price,.sale_percentage{font-family:"irswll", Tahoma, sans-serif, Arial;font-weight:700;}.btn.ajax_add_to_cart_button, .btn.add-to-cart, .btn.view_button{font-family:"IRANSans", Tahoma, sans-serif, Arial;}.style_wide .ma_level_1{font-family: "irswl";}#st_mega_menu_wrap .ma_level_0, .menu_item{height: 46px;line-height: 46px;}.title_block .title_block_inner, .page_heading, .product_info_tabs .nav-tabs .nav-link, .pc_slider_block_container .nav-tabs .nav-link, .heading_font{font-weight:800;text-transform: uppercase;font-family: "irswl";}.st-menu-title{font-weight:800;text-transform: uppercase;font-family: "irswl";}.title_block .title_block_inner, .page_heading {font-size: 21px;}.st_mega_menu .ma_level_0, .mobile_bar_tri_text, #st_mega_menu_column_mobile .mo_advanced_ma_level_0{text-transform: uppercase;font-family: "irswl";}#st_mobile_menu .mo_ma_level_0{text-transform: uppercase;font-family: "irswl";}.style_wide .ma_level_1{text-transform: uppercase;}.style_wide .ma_level_1{font-weight:700;}.style_wide .ma_level_1{font-size: 15px;}.style_wide .mu_level_2 a.ma_item, .stmenu_multi_level a.ma_item,.mo_sub_a{font-family: "irswl";}.style_wide .mu_level_2 a.ma_item, .stmenu_multi_level a.ma_item{font-size: 14px;}.mv_item{}.product_name_wrap .product_name{font-family:"irswl";}.product_name_wrap .product_name{font-weight:600;}.product_name_wrap .product_name{font-size: 25px;}.product_name_wrap .product_name{color: #000000;}#footer .title_block .title_block_inner{font-size: 17px;}.title_block .title_block_inner,.page_heading, .table-bordered thead th, .heading_color, .card-header{color: #000000;}.title_style_1 .flex_child,.title_style_4 .flex_child{border-bottom-width:2px;}a:hover, 
            a.link_color:hover, 
            button.link_color:hover,
            .additional-information a.link_color:hover,
            .theme_color, a.theme_color, a.theme_color:hover,
            .st_added,
            .add_to_love.st_added, .add_to_love.st_added:hover,
            .add_to_wishlit.st_added, .add_to_wishlit.st_added:hover,
            .stcompare_add.st_added, .stcompare_add.st_added:hover,
            .dropdown_wrap.open .dropdown_tri,
            .ajax_block_product .s_title_block a:hover,
            .block_blog .s_title_block a:hover,
            .btn-link:hover{color: #f03433;}a.text_color:hover{color: #f03433;}.title_block a.title_block_inner:hover{color: #f03433;}#st_mega_menu_wrap .ml_level_0.current .ma_level_0,#st_mega_menu_wrap .ma_level_0:hover{border-bottom-color:#f03433;}.checkout-step .sttab_2_1 .nav-tabs .nav-link.active, .checkout-step .sttab_2_1 .nav-tabs .nav-link:hover, .checkout-step .sttab_2_1 .nav-tabs .nav-link:focus{color:#f03433;}.ajax_cart_bag .amount_circle{color: #ffffff;}.ajax_cart_bag .amount_circle{background-color: #33a9e1;}.btn-default:hover,.btn-default:focus,.itemlist_right .ajax_add_to_cart_button:hover, .itemlist_right .view_button:hover{border-color:#444444;-webkit-box-shadow: inset 360px 0 0 0.01px #444444; box-shadow: inset 360px 0 0 0.01px #444444;background-color:transparent;}.btn-default.benabled,.btn-default.benabled:hover{border-color:#444444;-webkit-box-shadow: inset 360px 0 0 0.01px #444444; box-shadow: inset 360px 0 0 0.01px #444444;background-color:transparent;-webkit-box-shadow: none; box-shadow: none;background-color:#444444;}.btn-default.benabled:hover{background-color: rgba(68,68,68, 0.8);}.btn-default.benabled.btn-full-width:hover{border-color:#444444;-webkit-box-shadow: inset 360px 0 0 0.01px #444444; box-shadow: inset 360px 0 0 0.01px #444444;background-color:transparent;-webkit-box-shadow: none; box-shadow: none;background-color: rgba(68,68,68, 0.8);}.mobile_device .btn-default.benabled.btn-mobile-full-width:hover{border-color:#444444;-webkit-box-shadow: inset 360px 0 0 0.01px #444444; box-shadow: inset 360px 0 0 0.01px #444444;background-color:transparent;-webkit-box-shadow: none; box-shadow: none;background-color: rgba(68,68,68, 0.8);}@media (max-width: 992px) {.btn-default.benabled.btn-mobile-full-width:hover{border-color:#444444;-webkit-box-shadow: inset 360px 0 0 0.01px #444444; box-shadow: inset 360px 0 0 0.01px #444444;background-color:transparent;-webkit-box-shadow: none; box-shadow: none;background-color: rgba(68,68,68, 0.8);}}.btn-white:hover{border-color:#ffffff;-webkit-box-shadow: inset 360px 0 0 0.01px #ffffff; box-shadow: inset 360px 0 0 0.01px #ffffff;background-color:transparent;}.btn,.hover_fly_btn{text-transform: capitalize;}.btn.ajax_add_to_cart_button, .btn.add-to-cart{background-color: #ef394e;}.btn.ajax_add_to_cart_button:hover, .btn.add-to-cart:hover{color: #000000;border-color: #ffdb00;background-color: #ffdb00;}.hover_fly, .hover_fly .hover_fly_btn,.hover_fly_0:hover .hover_fly_btn:first-child{background-color: #ef394e;}.hover_fly .hover_fly_btn.add_to_love, .hover_fly .hover_fly_btn.add_to_love:hover, .hover_fly .hover_fly_btn.add_to_wishlit, .hover_fly .hover_fly_btn.add_to_wishlit:hover, .hover_fly .hover_fly_btn.stcompare_add, .hover_fly .hover_fly_btn.stcompare_add:hover{background-color: #ef394e;}.hover_fly_0 .hover_fly_btn:first-child, .hover_fly_0:hover .hover_fly_btn:first-child:hover{background-color: #ea4155;}.hover_fly .hover_fly_btn:hover{background-color: #ea4155!important;}.hover_fly .hover_fly_btn.add_to_love.st_added, .hover_fly .hover_fly_btn.add_to_love.st_added:hover, .hover_fly .hover_fly_btn.add_to_wishlit.st_added, .hover_fly .hover_fly_btn.add_to_wishlit.st_added:hover, .hover_fly .hover_fly_btn.stcompare_add.st_added, .hover_fly .hover_fly_btn.stcompare_add.st_added:hover{background-color: #ea4155;}.hover_fly .hover_fly_btn{border-right-color: #d53a4c;border-left-color: #d53a4c;}#st_header .header_item{text-transform: uppercase;}#st_header #top_bar, #st_header #top_bar .wide_container{border-bottom:none;}#st_header #top_bar, #st_header #top_bar .wide_container{border-bottom-color:#e5e5e5;}#st_mega_menu_wrap .ma_level_0{color:#ffffff;}#main_menu_widgets #search_block_top.quick_search_simple .button-search,#main_menu_widgets .header_item, #main_menu_widgets a.header_item, #main_menu_widgets .header_item a{color:#ffffff;}#st_mega_menu_wrap .ml_level_0.current .ma_level_0,#st_mega_menu_wrap .ma_level_0:hover{color:#f9ce2e;border-bottom-color:#f9ce2e;}#top_extra .st_mega_menu_container{background-color:#1a3e6f;}#st_mega_menu_wrap .stmenu_sub{border-top-width:0px;}#st_mega_menu_wrap .ma_level_0{margin-bottom:-0px;border-bottom-width:0px;}#top_extra .st_mega_menu_container{border-bottom-width:0px;}#header_primary #st_mega_menu_wrap{border-bottom-width:0px;}#st_mega_menu_wrap .stmenu_sub{border-top-color:#1a3e6f;}.st_mega_menu_container, .boxed_megamenu #st_mega_menu_wrap,#header_primary #st_mega_menu_wrap{border-bottom-color:#1a3e6f;}#st_mega_menu_wrap .ml_level_0.current .ma_level_0,#st_mega_menu_wrap .ma_level_0:hover{border-bottom-color:#1a3e6f;}.ma_level_1{color:#000000;}#st_ma_0{ text-align: left; }#footer-bottom,#footer-bottom a{color:#ffffff;}#left_column.sidebar_opened,#right_column.sidebar_opened{background-color:#fff;}.header-container #st_header{background-color:#ffffff;}#st_header.stuck{background: #ffffff;background:rgba(255,255,255,0.95);}#st_header.stuck, #top_extra .st_mega_menu_container.stuck{-webkit-box-shadow: 0px 1px 4px rgba(0,0,0,0.1); -moz-box-shadow: 0px 1px 4px rgba(0,0,0,0.1); box-shadow: 0px 1px 4px rgba(0,0,0,0.1); }#footer-primary{background-color:#F1F1F1;}#footer-secondary{background-color:#f6f7fb;}#footer-tertiary{background-color:#F8F8F8;}#footer-bottom, #footer-bottom .wide_container{border-top-color:#6e716e;}#footer-bottom{background-color:#1a3e6f;}#st_header #header_primary_container{height: 90px;}.header-container.has_sticky{padding-bottom:46px;}.fto-glyph.icon_btn:before{ content: "\e868"; }.fto-star.icon_btn:before{ content: "\e8e0"; }.fto-heart-4.icon_btn:before{ content: "\e8e2"; }.fto-ajust.icon_btn:before{ content: "\e81e"; }.fto-search-1.icon_btn:before{ content: "\e80b"; }.fto-eye-2.icon_btn:before{ content: "\e818"; }.fto-user.icon_btn:before{ content: "\f2c0"; }.fto-history.icon_btn:before{ content: "\e87a"; }.product_info_tabs.sttab_block .nav-tabs .nav-link.active, .product_info_tabs.sttab_block .nav-tabs .nav-link:hover, .product_info_tabs.sttab_block .nav-tabs .nav-link:focus, .pro_more_info .mobile_tab .st_open .mobile_tab_name{ color: #ffffff; }.product_info_tabs.sttab_block .nav-tabs .nav-link.active, .product_info_tabs.sttab_block .nav-tabs .nav-link:hover, .product_info_tabs.sttab_block .nav-tabs .nav-link:focus, .accordion_more_info .mobile_tab .st_open .mobile_tab_title{ background-color: #33a9e1; }body#index .header-container{ margin-bottom: 0px; }.products_sldier_swiper .pro_outer_box:hover .pro_second_box,.product_list.grid .pro_outer_box:hover .pro_second_box{ background-color: #f2f2f2; }#page_wrapper{-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.1); -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.1); box-shadow: 0px 0px 3px rgba(0,0,0,0.1); }#st_header .shop_logo{width: 280px;}.pro_gallery_thumbs_vertical .swiper-slide{height: 82px;}.ajax_block_product .s_title_block a,.pro_column_right .s_title_block a{text-transform: capitalize;}.ajax_block_product .s_title_block a,.pro_column_right .s_title_block a{}.products.product_list.grid .product_list_item{padding-left:8px;padding-right:7px;}.products.product_list.grid{margin-left:-8px;margin-right:-7px;}.product_first_section, body.product .breadcrumb_spacing{background-color: #ffffff;}.product_second_section{background-color: #f5f5f5;}body#authentication .columns-container{padding-top: 38px;}body#authentication .columns-container{padding-bottom: 38px;}.checkout-step .sttab_2_1 .nav-tabs .nav-link.active, .checkout-step .sttab_2_1 .nav-tabs .nav-link:hover, .checkout-step .sttab_2_1 .nav-tabs .nav-link:focus{border-bottom-color: #ffffff;}.cms_content h1, .blog_content h1, .product-description h1{font-size:25px!important;}.cms_content h2, .blog_content h2, .product-description h2{font-size:22px!important;}.cms_content h3, .blog_content h3, .product-description h3{font-size:17px!important;}@media (max-width: 1219px) {
                    .images-container.pro_number_lg_1 .pro_gallery_top_inner, .images-container.pro_number_lg_1 .pro_gallery_thumbs_horizontal{max-width: 423px;}
                    .images-container.pro_number_lg_2 .pro_gallery_top_inner, .images-container.pro_number_lg_2 .pro_gallery_thumbs_horizontal{max-width: 423px;}
                    .images-container.pro_number_lg_3 .pro_gallery_top_inner, .images-container.pro_number_lg_3 .pro_gallery_thumbs_horizontal{max-width: 423px;}
                    .images-container.pro_number_lg_4 .pro_gallery_top_inner, .images-container.pro_number_lg_4 .pro_gallery_thumbs_horizontal{max-width: 423px;}
                    .images-container.pro_number_lg_5 .pro_gallery_top_inner, .images-container.pro_number_lg_5 .pro_gallery_thumbs_horizontal{max-width: 423px;}
                    .images-container.pro_number_lg_6 .pro_gallery_top_inner, .images-container.pro_number_lg_6 .pro_gallery_thumbs_horizontal{max-width: 423px;}
                }@media (max-width: 991px) {
                    .images-container.pro_number_md_1 .pro_gallery_top_inner, .images-container.pro_number_md_1 .pro_gallery_thumbs_horizontal{max-width: 423px;}
                    .images-container.pro_number_md_2 .pro_gallery_top_inner, .images-container.pro_number_md_2 .pro_gallery_thumbs_horizontal{max-width: 423px;}
                    .images-container.pro_number_md_3 .pro_gallery_top_inner, .images-container.pro_number_md_3 .pro_gallery_thumbs_horizontal{max-width: 423px;}
                    .images-container.pro_number_md_4 .pro_gallery_top_inner, .images-container.pro_number_md_4 .pro_gallery_thumbs_horizontal{max-width: 423px;}
                    .images-container.pro_number_md_5 .pro_gallery_top_inner, .images-container.pro_number_md_5 .pro_gallery_thumbs_horizontal{max-width: 423px;}
                    .images-container.pro_number_md_6 .pro_gallery_top_inner, .images-container.pro_number_md_6 .pro_gallery_thumbs_horizontal{max-width: 423px;}
                }@media (max-width: 767px) {
                    .images-container.pro_number_sm_1 .pro_gallery_top_inner, .images-container.pro_number_sm_1 .pro_gallery_thumbs_horizontal{max-width: 423px;}
                    .images-container.pro_number_sm_2 .pro_gallery_top_inner, .images-container.pro_number_sm_2 .pro_gallery_thumbs_horizontal{max-width: 423px;}
                    .images-container.pro_number_sm_3 .pro_gallery_top_inner, .images-container.pro_number_sm_3 .pro_gallery_thumbs_horizontal{max-width: 423px;}
                    .images-container.pro_number_sm_4 .pro_gallery_top_inner, .images-container.pro_number_sm_4 .pro_gallery_thumbs_horizontal{max-width: 423px;}
                    .images-container.pro_number_sm_5 .pro_gallery_top_inner, .images-container.pro_number_sm_5 .pro_gallery_thumbs_horizontal{max-width: 423px;}
                    .images-container.pro_number_sm_6 .pro_gallery_top_inner, .images-container.pro_number_sm_6 .pro_gallery_thumbs_horizontal{max-width: 423px;}
                }@media (max-width: 479px) {
                    .images-container.pro_number_xs_1 .pro_gallery_top_inner, .images-container.pro_number_xs_1 .pro_gallery_thumbs_horizontal{max-width: 423px;}
                    .images-container.pro_number_xs_2 .pro_gallery_top_inner, .images-container.pro_number_xs_2 .pro_gallery_thumbs_horizontal{max-width: 423px;}
                    .images-container.pro_number_xs_3 .pro_gallery_top_inner, .images-container.pro_number_xs_3 .pro_gallery_thumbs_horizontal{max-width: 423px;}
                    .images-container.pro_number_xs_4 .pro_gallery_top_inner, .images-container.pro_number_xs_4 .pro_gallery_thumbs_horizontal{max-width: 423px;}
                    .images-container.pro_number_xs_5 .pro_gallery_top_inner, .images-container.pro_number_xs_5 .pro_gallery_thumbs_horizontal{max-width: 423px;}
                    .images-container.pro_number_xs_6 .pro_gallery_top_inner, .images-container.pro_number_xs_6 .pro_gallery_thumbs_horizontal{max-width: 423px;}
                }.btn-default.btn-full-width:hover{-webkit-box-shadow: inset 800px 0 0 0.01px #444444; box-shadow: inset 800px 0 0 0.01px #444444;background-color:transparent;}.mobile_device .btn-default.btn-mobile-full-width:hover{-webkit-box-shadow: inset 800px 0 0 0.01px #444444; box-shadow: inset 800px 0 0 0.01px #444444;background-color:transparent;}@media (max-width: 992px) {.btn-default.btn-mobile-full-width:hover{-webkit-box-shadow: inset 800px 0 0 0.01px #444444; box-shadow: inset 800px 0 0 0.01px #444444;background-color:transparent;}}@font-face {
  font-family: 'irswl';
     src:   url('iranyekanweblight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'irswll';
     src:   url('iranyekan300.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'irswll';
     src:   url('iranyekan700.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'irswl';
     src:   url('iranyekanwebbold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
 font-family:'ahoo';
 src:url(5df74e7b.woff);
}
.pro_price_block{
align-items: center !important;
}
#contact  table p{
margin:0
}
.st_pro_video_play_icon{
background:transparent !important
}
.product-prices .current-price .price[content="0"], .product-prices .current-price .price[content="1"], .ajax_block_product .price[content="0"], .ajax_block_product .price[content="1"]{
font-size:13px;
font-weight:300
}
.st_pro_video_btn .vjs-icon-placeholder {
    background: #d12535;
}
div#yar-tags {
    border: 1px solid #dedede !important;
    border-radius: 10px;
    overflow: hidden;
    padding: 0;
    margin: 0px auto 30px auto;
}
.product_page_container .pro_right_item {
    text-align: left;
}
.kfafeaturespro-group-title{
color:#111
}
#contact .easy_icon_with_text_4_1 .easy_icon {

    margin-right: 0;
    margin-left: 6px;
    display: block;
}

.mobile_bar_item i{
font-size:1.6rem
}
select.form-control:not([size]):not([multiple]) {
    color: #333;
}
#st_header #mobile_bar .search_widget_block {
    margin-left: 0;
    margin-right: 0;
}
#header_right .shoppingcart-list {
    background: #f1f2f4;
}
body#index,  body#index #body_wrapper{
background:#f5f5f5
}
[class*=" fto-"]::before, [class^="fto-"]::before {
    vertical-align: middle;
}
#easycontent_9, .ajax_cart_bag .amount_circle, #sidebar_box .rightbar_wrap .amount_circle, .st_reduce{
font-family:irswll
}
.product_img_link img.front-image {
    margin: auto;
}
.st_reduce{
font-size:15px;
}

#easycontent_17{
border-radius:10px;
}
#steasy_element_19, .regular-price, .gallerique_title_block{
font-family: 'IRANSansF';
}
#easycontent_20, #easycontent_20 a{
font-family: 'irswll';
}
.bullet li a, .st_news_letter_content p, #steasy_element_28 p,  #easycontent_20 p{
font-family:irswll;
font-size:14px;
color: #333;
}
#footer .style_content p {
    margin-bottom: 1rem;
font-size:13px;
}
#header_primary_row .top_bar_item, #main_menu_widgets .top_bar_item, .checkout_header_right .top_bar_item {
    padding-left: 8px;
    padding-right: 16px;
}
#st_header .shop_logo{
margin: 20px auto;
}
.logo{
	width: 172px;
	height: 42px
}
#top_bar .block, #top_bar p, #top_bar em {
    margin-bottom: 0;
    vertical-align: text-top;
}
#st_header .search_widget_block {
    margin-left: 70px;
}
#st_header #top_bar{
display:none
}
#st_header .search_widget_form_inner.input-group-with-border .form-control {
    height: 36px;
}
#st_news_letter_2 .input-group-btn {
    padding-right: 10px;
    background: #f1f1f1;
    margin-bottom: -1px;
}
.mini_name .product-price-and-shipping {
    text-align: left;
}
#st_mega_menu_wrap {
    width: 100%;
}
.st_shopping_cart {
    display: inline-flex;
}
.search_widget_form_inner, #st_header .search_widget_form_inner.input-group-with-border .form-control {
    background: #f5f5f5;
}


#st_news_letter_2 .input-group-with-border {
    border: 0;
    border-bottom: 1px solid #c2c2c2;
}
.search_widget_form_inner i{
font-size:1.2rem;
color:#000
}
#easycontent_9 i {
    color: #1b73f4;
    margin-left: 6px;
    font-size: 24px;
    vertical-align: middle;
    display: inline-block;
}
.header-container {
z-index: 100;
position: relative;
}
.login i, .shopping_cart_style_2 .ajax_cart_bag i, .userinfo_mod_top i {
    font-size: 1.6rem;
color:#000
}

.ajax_cart_bag .amount_circle{
    right: -15px;
}
@media screen and (min-width: 1300px) {
.container, #page_wrapper, .wide_container {
    max-width: 100%;
    width: 1300px;
}
}
@media screen and (max-width: 980px) {
.swiper-pagination-bullet {
    width: 6px;
    height: 6px;
}
.swiper-pagination-bullet-active {
    background: red;
}
.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
bottom:0
}
.st_popup_image:before{
background: #000;
opacity: 0.03;
height: 100%;
width: 100%;
left: 0;
top: 0;
content:"";
position: absolute;
z-index: 1;
}
div.product_left_column{
order:0 ;
padding-top:20px;
background: #f7f7f7;
}
.mobile_device.use_mobile_header #body_wrapper{
padding-bottom:0
}
#description .tab-pane-body{
    height: 600px;
    position: relative;
overflow:hidden
}
#steasy_element_28 .title_block{
display:block;
text-align:center;
}
#steasy_column_26 #steasy_element_33 h5,  #steasy_column_26 a, #steasy_column_26 p{
    justify-content: center !important;
text-align:center!important;
}
}
@media screen and (min-width: 980px) {

.revws-review-details {
    width: 80%;
    border-right: 1px solid #f5f5f5;
border-left:0;
padding-left:0;
    padding-right: 30px;
}

#steasy_element_19 > div, #steasy_element_22 > div, #steasy_element_23 > div{
margin-right:auto;
}
#steasy_column_22 {
    flex: 0 0 80%;
}
}
@media screen and (max-width: 480px) {
.sttext_banner_1_1 > div > a {
display:block
}
}
@media screen and (max-width: 768px) {
.sttext_banner_1_1 > div {
    text-align: center !important;
}

#steasy_column_30 .row {
    flex-wrap: nowrap;
}
#steasy_column_30 .row > div {
    max-width: max-content;
    letter-spacing: -0.5px;
    font-size: 11px;
padding:5px;
}
.mobile_bar_tri .ajax_cart_bag {
    margin-top: 7px;
}
blockquote{
padding:20px !important
}
blockquote:before, blockquote:after{
display:none
}
.pro_more_info .mobile_tab .mobile_tab_name {
    color: #000 !important;
}
.cms_content h2, .blog_content h2, .product-description h2 {
    font-size: 1rem !important;
}
#footer .title_block > div{
border:0
}
#category .st_sticker_3 {
    bottom: 0px;
    top: 0;
    width: 100%;
    height: 20px;
    line-height: 20px;
    opacity: 0.7;
}
.block.products_container .st_sticker_3 {
    height: 22px;
    line-height: 22px;
    width: 100%;
}
.stspecialslider_container .st_sticker .st_sticker_text {
    font-size: 17px;
    font-family: irswll;
}
.st-menu-title {
    background: #000;
}
 .is_rtl #side_stmobilemenu, #side_search, #side_products_cart, #side_custom_sidebar_7 {
    border-left-width: 0 !important;
}
#st_mobile_menu .mo_ma_level_0 {
    font-size: 17px;
}
.st_sticker_3 {
    width: auto;
}
.st_reduce {
    font-size: inherit;
}

.mini_name .product-price-and-shipping {
    text-align: right;
}
.mini_name .product-price-and-shipping .regular-price {
    display: inline-block;
    font-size: 11px;
}
.mini_name{
display:block
}
.ajax_block_product .price {
    font-weight: 700;
    font-size: 11px;
}
div.stspecialslider_container.block .st_sticker_3 {
    top: 0;
    width: 100%;
height:28px;
line-height:28px;
}
.block {
    margin-bottom: 1.3rem;
}
#steasy_column_24 img {
    max-width: 42px;
height: 38px !important;
}
#steasy_column_24 .sttext_item_content p:last-child{
display:none
}
#steasy_column_25 .row{
margin-right:-5px;
margin-left:-5px;
flex-wrap: nowrap;
}
#steasy_column_25 .col-lg-3{
padding:0px 5px;
}
div#steasy_column_24 h4 {
    font-size: 0.6rem;
}
#banner_box_21, #banner_box_20{
padding:0px 8px;
}
#product .product-description-short {
    font-size: 12px;
}
.product_name_wrap h1.product_name {
    font-size: 19px;
}
.mobile_logo {
    padding: 10px;
}
.logo {
    width: 120px;
height:auto;
}
#product .pro_gallery_top_inner .st_sticker_3, #product .countdown_box {
border-radius:25px;
}
.pro_price_right {
width:150px;
}
a.inline_popup_tri {
    font-size: 15px;
}
.breadcrumb_spacing,  .breadcrumb_wrapper{
display:none
}
#product #st_header {
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}


div#st_swiper_3 .swiper-pagination {
    bottom: 10px;
width:auto;
}
div#st_swiper_3 .swiper-button{
display:none !important
}

#sidebar_box .rightbar_wrap .amount_circle {
    top: 4px;
    margin-left: 10px;
background-color: #5fb8e3;
}
.mobile_device.use_mobile_header #sidebar_box .rightbar_wrap a.icon_wrap {
    height: 56px;
}
#sidebar_box .rightbar_wrap .icon_wrap i {
    font-size: 1.6rem;
}
.icon_wrap.with_text i {
    height: 30px;
    line-height: 30px;
}
#leftbar {
    border-top: 1px solid rgb(238, 238, 238);
}
.icon_wrap {
    background: #f6f7fb;
    color: rgb(77, 77, 77);
}
#steasy_element_28{
height:160px;
margin-bottom:20px;

}
#steasy_element_28.ropen{
height:auto;
padding-bottom:20px;
}
#steasy_element_28.ropen:before{
height:140px;
}
#steasy_element_28:before{
height:160px;
width:100%;
background: linear-gradient(0deg, rgba(255,255,255,1) 40%, rgba(248,248,248,0) 100%); 
position:absolute;
bottom:-40px;
left:0px;
content:"";
}
.rmore{
z-index:5;
text-align:center;
font-weight:bold;
height:20px;
width:100%;
position:absolute;
bottom:-10px;
left:0px;
color:#c61b78 !important;
content:"مشاهده بیشتر v";
cursor: pointer;
}
#footer #steasy_element_22 p{
margin:0
}
#footer .footer_block_content {
    padding: 0;
}
#stacked_footer_column_1,  #stacked_footer_column_2{
order:2
}
#footer-bottom{
display:none
}
#steasy_element_19 > div, #steasy_element_22 > div{
width:100%
}
#steasy_column_22 {
    flex: 0 0 100%;
}
}

.st_mega_menu > li:last-child {
    margin-right: auto;
}
#st_mega_menu_wrap .st_mega_menu > li:last-child a {
display: flex;
border: 1px solid #f9ce2e;
border-radius: 6px;
opacity: 1;
line-height: 22px;
height: 28px;
padding: 0px 7px;
flex-direction: row-reverse;
color: #111;
background: #f9ce2e;
}
#st_mega_menu_wrap .st_mega_menu > li:last-child:hover a {
background: #fff;
color: #c51b78;
}
#st_mega_menu_wrap .st_mega_menu > li:last-child a i {
margin-left:0;
margin-right:10px;
}
.form-control.search_widget_text::placeholder, #st_news_letter_2 .st_news_letter_input::placeholder{
	color: #777;
	font-size: 14px
}
#st_news_letter_2 .fto-mail-alt:before{
content:"ثبت ایمیل";
font-family:irswll;
width:auto;
}
#st_swiper_3 .swiper-pagination {
    width: 120px;
    right: 7px;
    left: auto;
    bottom: 45px;
}
#st_swiper_3 .swiper-button.swiper-button-prev {
    top: auto;
    bottom: 10px;
}
#st_swiper_3 .swiper-button.swiper-button-next {
    top: auto;
    bottom: 10px;
left:auto;
right:80px;
}
#st_swiper_3.swiper-button-lr.swiper-navigation-arrow .swiper-button i{
font-size:2.6rem
}
#st_swiper_3.swiper-button-lr.swiper-navigation-arrow .swiper-button .fto-right-open-3::before, .fto-right-open-3::before {
  content: "\F007\00FE0E" !important;
font-family: 'ahoo';
}
#st_swiper_3.swiper-button-lr.swiper-navigation-arrow .swiper-button .fto-left-open-3::before, .fto-left-open-3::before {
  content: "\F005\00FE0E" !important;
font-family: 'ahoo';
}
.swiper-pagination-st-round .swiper-pagination-bullet {
    border-width:1px;
    width: 10px;
    height: 10px;
}
#st_swiper_3{
    width: 100%;
    border-radius: 10px;
}
#easycontent_9 {
   border-radius: 10px;
}
.stmenu_sub{
   border-radius: 0px 0px 10px 10px;
box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 5px;
}
.ma_level_2 {
    padding: 5px 0;
}
.lastword {
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
}
.front_image_pic{
position:relative;
display:block;
margin:auto;
padding:10px;
}
.c-product-item__image-overlay{
background:#000;
opacity:0.03;
height:100%;
width:100%;
left:0;
top:0;
position:absolute;
border-radius:10px;
z-index:1
}
.products_sldier_swiper .ajax_block_product .pro_outer_box.home_default, .product_list.grid .ajax_block_product .pro_outer_box.home_default {
    max-width: 100%;
}
.countdown_wrap.counting {
    visibility: visible;
    left: auto;
    background: transparent;
    height: 40px;
    direction: ltr;
    bottom: 10px;
  font-family: 'irswll';
}
.st_banner_block .adveditor_image {
    border-radius: 10px;
}
.products_sldier_swiper .pro_outer_box:hover .pro_second_box, .product_list.grid .pro_outer_box:hover .pro_second_box {
    background: linear-gradient(0deg, #f6f7fb 0%, rgb(255, 255, 255) 100%);
    border-radius: 10px;
}
#subcategories{
background-color: #f3f3f3;
padding-top: 12px;
border-radius: 10px;
}
#subcategories .subcate_grid_view li .subcategory-name {
    color: #000;
}
#product-list-top-wrap, .bottom_pagination{
  font-family: 'irswll';
font-size:13px
}
.page-link {
    font-size: 17px;
}
.product_left_column{
order:1
}
.pro_gallery_thumbs_container{
text-align:left;
max-width: 100px;
}
.images-container-2{
justify-content: end;
}
.inline_popup_tri  {
    color: #40c0c6;
  font-family: 'irswll';
font-size:17px
}
.qty_wrap.qty_wrap_big.qty_full_width, .pro_popup_trigger_box{
display:none
}
#product .pro_gallery_top_inner .st_sticker_3 {
    top: 0;
}
.btn-default.btn-large i {
font-size: 24px;
vertical-align: middle;
margin-left: 10px;
}
.btn-default.btn-large {
    width: 100% !important;
    border-radius: 30px;
    background: #FFE964;
    border: none;
    color: #000;
    margin: 0;
    font-size: 21px;
    height: 50px;
    font-family: irswll !important;
    font-weight: 700;
    padding: 0px 0px 5px 0px;
}
#steasy_column_24 h4{
    color: #000;
    font-family: irswll;
font-size: 1.2rem;
}
#steasy_column_24 img{
width:auto;
height:64px;
}
#steasy_column_24 p{
text-align: center;
color: #000;
font-family: irswll;
font-size: 0.8rem;
}
.form-control-select {
    border-radius: 25px;
}
#product .product-prices .current-price .price{
color:red
}
#product .product-prices .regular-price {
    color: #555;
    font-size: 17px;
}
.product-variants .control-label {
    margin-bottom: 4px;
    display: block;
    font-size: 19px;
    color: #000;
    font-family: irswll;
    font-weight: 700;
}
.product-variants .color {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
}
#product .countdown_box {
    display: inline-block;
    padding: 2px 10px;
    background: radial-gradient(circle, rgba(255,246,0,1) 0%, rgba(255,174,0,1) 100%);
    color: #000;
    text-transform: capitalize;
    font-family: irswll;
    font-size: 18px;
    font-weight: bold;
}
#product .countdown_box i {
display:none
}
.amount_inline{
margin-right:5px;
 font-family: irswll;
}
.moreshort {
z-index: 5;
text-align: center;
font-weight: bold;
height: 24px;
 font-family: irswll;
font-size:15px;
width: 100%;
position: absolute;
bottom: 0;
left: 0px;
color: #555 !important;
cursor: pointer;
}
.moreshort::after {
    font-family: fontello;
    content: "\F107";
    position: relative;
    display: inline-block;
margin-right:10px;
}
.product-description-short.ropen .moreshort::after {
    content: "\F106";
}
.product-description-short{
height: 160px;
position: relative;
line-height: 1.6;
color: #333;
font-size: 13px;
overflow:hidden;
}
.product-description-short ul li{
line-height: 2;
margin-bottom:5px;
}
.product-description-short.ropen{
height: auto;
padding-bottom:20px;
}
.product-description-short.ropen:before{
display:none
}
.product-description-short::before {
    height: 100px;
    width: 100%;
    background: linear-gradient(0deg, rgba(255,255,255,1) 20%, rgba(255,55,255,0) 100%);
    position: absolute;
    bottom: 0;
    left: 0px;
    content: "";
}
.radio-label {
    background: #fff;
    height: 2.875rem;
    line-height: 2.75rem;
    padding: 0 18px;
border-radius:5px;
}
.input-radio:checked + span, .input-radio:hover + span {
    padding: 0 16px;
    line-height: 2.625rem;
}
.mobile_tab .mobile_tab_name {
 font-family: irswll;
font-size:19px;
    font-weight: 700;
color:#333;
}
.product-features dl.data-sheet {
	padding: 0;
	margin-bottom: 0;
	border-bottom: 0;
 font-family: irswll;
}
.product-features dl.data-sheet dt.name {
	font-weight: 600;
	font-size: 16px;
	float: right;
	width: 35%;
	min-width: 100px;
	padding: 15px;
color:#000

}
.product-features dl.data-sheet dd.value {
	margin: 0;
	padding: 15px;
	font-size: 16px;
	border-right: 0
}
.product-features dl.data-sheet{
	background:#f8f8f8
}
.product-features dl.data-sheet:nth-child(2n+1){
	background:#fff
}
.sttab_3 .nav-tabs .nav-link {
    text-align: center;
}
.sttab_3_2 .nav-tabs .nav-link.active, .sttab_3_2 .nav-tabs .nav-link:focus, .sttab_3_2 .nav-tabs .nav-link:hover {
    border-left-color: #fff;
    border-right:2px solid  #e54d26;
}
.sttab_3 .nav-tabs .nav-link {
    margin-right: 0px;
    margin-left: -1px;
}
.facet-title {
    color: #000;
    font-family: irswll;
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 10px;
}
#search_filters .facet, #search_filters_brands .facet, #search_filters_suppliers .facet {
    border: 1px solid #eceff4;
    margin-bottom: 20px;
    padding: 10px 20px;
    border-radius: 10px;
font-family: 'IRANSansF';
background:#f6f7fb;
    font-size: 13px;
}
.custom-input-box .custom-input-item.custom-input-color {
    width: 1.9375rem;
    height: 1.9375rem;
    border-radius: 100%;
}
ui-widget-content {
    border: 0;
}
.ui-slider-horizontal .ui-slider-range {
    background: #41c1c6;
}
#search_filters .facet ul.faceted-slider {
    width: 100%;
}
.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 1.6em;
    height: 1.6em;
    cursor: default;
    border-radius: 100%;
    background: #fff !important;
    top: -0.7em !important;
}
.ui-widget-content{
height:6px;
}
.ui-widget-content a{
position:relative;
text-align:center;
}
.ui-widget-content a:nth-child(2):before, .ui-widget-content a:nth-child(3):before{
font-family: ahoo;
content: "\F006\00FE0E";
font-size: 12px;
color: #666;
}
.ui-widget-content a:nth-child(2):before{
transform: scale(-1) !important;
position: absolute;
left: 7px;
}
.custom-input-box .custom-input-item, .product-variants .color {
    border: 1px solid rgba(0,0,0,0.3);
}
.btn-default.btn-full-width:hover {
    color: #fff;
}
.product-variants .product-variants-item .input-color:checked + span{
text-align:center
}
.product-variants .product-variants-item .input-color:checked + span:before{
content: '\e80f';
font-family: "fontello";
font-size: 24px;
color: rgba(255,255,255,0.7);
line-height: 38px;
}
#blockcart-modal .modal-dialog {
    width: 94%;
}
.modal_cart.general_border .list_detail_item{
font-family: "irswll";
font-size:17px;
}
.modal_cart_details,  .cart_summary_subtotal_shipping, .cart_summary_subtotal_products{
display:none
}
.mfp-close-btn-in .mfp-close, .mfp-iframe-holder .mfp-close, .mfp-image-holder .mfp-close, .st_modal_close {
    right: auto;
    left: 0;
z-index: 5555;
}
.modal-content {
    margin-right: 10px;
    margin-left: 10px;
border-radius: 10px;
overflow: hidden;
}
.cart-content-btn .btn{
border-radius:25px;
}
.psf-cart-item .product-info-total .qty {
      justify-content: flex-start;
}
.psf-cart-item .product-line-grid-body .product-info-price {
    text-align: right;
}
.psf-card {
    border-radius: 10px;
}
.ajax_cart_bag .amount_circle.dozens {
    width: 18px;
}
.small_cart_product_image {
    border: 0;
}
.gosabad::after {
    content: "\F004\00FE0E";
    margin-right: 10px;
    font-size: 12px;
    font-weight: 700;
font-family:ahoo;
display:inline-block;
margin-right:10px;
vertical-align:middle;
}
.cart-summary-v.price {
    font-size: 21px;
    color: red;
}
.dropdown_list.cart_body .dropdown_box {
    border: 0;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
}

.cart_body .small_cart_product_list {
    background: #fff;
}
.cart_body .small_cart_btn {
    margin: auto;
    display: block;
    width: 55%;
    border-radius: 25px;
}
span.header_v_align_m, .userinfo_mod_top .arrow{
display:none !important
}
.myacount_dashbord_list .list-group-item {
    text-align: center;
    background: #fff;
    width: 225px;
    border-radius: 3px !important;
}
.myacount_dashbord_list .list-group-item i {
    text-align: center;
    font-size: 48px;
    display: block;
}
.product_list.list .product-desc {
    display: none;
    margin-bottom: 1rem;
}
.pro_gallery_thumb_box {
    border-radius: 10px;
overflow:hidden;
}
#galleryWrapper li a img {
    margin: auto;
    display: block;
}
.st_mega_menu img {
    position: relative;
    top: 20px;
}

#steasy_column_20 {
    padding-bottom: 0px;
    align-items: center;
}
.sttext_banner_1_1 > div  {
text-align:left
}
#easycontent_21{
margin:0 !important
}
.product-description p{
font-size:14px;
line-height:2
}
.product-description img{
margin:20px auto;
border-radius:10px;
}
.product-description-short p, .product-description-short span{
font-size:14px !important;
font-family: irswl;
}
#subcategories .inline_list li a.img img{
display:none
}
.bottom_more_info_block.pro_more_info.p-t-1.p-b-1 .tab-content {
    background-color: #fff;
border-radius: 10px 0px 10px 10px;
overflow: hidden;
    padding: 20px;
border:1px solid #eceff4;
}
.sttab_2 .nav-tabs .nav-item {
    margin-left: 0;
margin-right:0;
    margin-bottom: -1px;
}
.sttab_block .nav-tabs.tab_lg .nav-link{
border:0 !important;
    margin-bottom: 0px;
    margin-left: 10px;
position:relative;
    background: #ddd;
padding: 10px 35px;
    border-radius: 10px 10px 0px 0px;
}

.sttab_block .nav-tabs.tab_lg .nav-link.active:before {
    border-right: 15px solid 
transparent;
border-bottom: 0 solid
transparent;
border-top: 8px solid #33a9e1;
border-left: 15px solid
    transparent !important;
    position: absolute;
    content: '';
    left: 50%;
    margin-left: -15px;
    bottom: -6px;
}
.bottom_more_info_block{
margin-bottom: 30px;
margin-top: 20px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
}
body#product, #product #body_wrapper{
background:#f5f5f5
}
#index .c-product-item__image-overlay,  #product .c-product-item__image-overlay{
display:none
}
section.products_section, #search_filters_wrapper, .block-categories, #blog_primary_block, .block.column_block {
    padding: 10px;
background-color: #fff;
border: 1px solid #eceff4;
border-radius: 10px;
}
#index #footer-primary, #index #st_news_letter_2, #index #st_news_letter_2 .st_news_letter_input, #index #st_news_letter_2 .input-group-btn ,
#product #footer-primary, #product #st_news_letter_2, #product #st_news_letter_2 .st_news_letter_input, #product #st_news_letter_2 .input-group-btn {
    background-color: #fff;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    line-height: 1.8;
    font-family: "irswl";
}
.product-description p, .product-description span{
color:#222
}
.h_iframe-aparat_embed_frame iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
border-radius:10px;
}
.h_iframe-aparat_embed_frame {
    position: relative;
margin:20px auto;
}
.h_iframe-aparat_embed_frame div.block-me {
    display: block;
    padding-top: 57%;
}
blockquote {
    position: relative;
    margin: 15px 0;
    background: #edf4fa;
    font-size: 16px;
    font-size: 1.143rem;
    line-height: 2.75;
    color: #494949;
    border-radius: 10px;
    font-weight: 300;
    letter-spacing: -.1px;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.2);
    padding: 40px 100px 30px 100px;
    border: 0;
}
blockquote::before {
    top: 20px;
    right: 25px;
    width: 50px;
    height: 40px;
    background: url(https://salambaba.com/vendor/img/cms/e8f55a97.svg) no-repeat 50% 50%;
        background-size: auto;
    background-size: auto;
    background-size: 100%;
content:"";
position:absolute;
}
blockquote::after {
    left: 25px;
    bottom: 25px;
    width: 50px;
    height: 40px;
content:"";
    background: url(https://salambaba.com/vendor/img/cms/3f51c9a0.svg) no-repeat 50% 50%;
        background-size: auto;
    background-size: auto;
    background-size: 100%;
position:absolute;
}
#steasy_column_30 .row{
justify-content: center;
}
#steasy_column_30 .row > div{
max-width: max-content;
}
.moree {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 200px;
    background: linear-gradient(0deg, rgba(255,255,255,1) 30%, rgba(255,255,255,0.5970588919161415) 100%);
}
 .moree a,  .moree span {
    position: absolute;
    bottom: 15px;
    width: 100%;
color:#0a6cbb !important;
    padding: 10px;
    text-align: center;
    font-size: 17px;
}
 .moree span {
    display: none;
}
.moree a.opened {
    display: none;
}
.moree span.opened {
    display: block;
}
#description .tab-pane-body.opened .moree {
    height: 100px;
}

#product #description .tab-pane-body.opened {
    height: auto;
    padding-bottom: 50px;
}

#steasy_column_29:before {
    display:block;
width:100%;
height:1px;
content:"";
margin-top: -20px;
background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(238,238,238,1) 50%, rgba(255,255,255,0) 100%); 
}
#steasy_column_30 img{
transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
outline: 1px solid transparent;
-webkit-backface-visibility: hidden;
transform: translateZ(0);
will-change: transform;
-webkit-perspective: 1000;
}
#steasy_column_30 .steasy_element_item:hover  img{
transform: scale(1.3) translateY(-5px);

}
.hover_effect_2 .st_banner_block::before {
    border-radius: 7px;
}
.revws-reply-title {
	font-size: 14px
}
.revws-reply-content{
	font-size: 13px
}
.revws-replies{
	border-radius: 10px
}
#revws-portal-product-reviews a.btn.btn-primary {
    background: transparent;
    border: 2px solid #e70028;
    color: #e70028;
    height: 50px;
    line-height: 50px;
    min-width: 198px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    font-size: 16px;
border-radius:10px;
}
#revws-portal-product-reviews .form-group {
    text-align: left;
}
#appsys3-smartlogin-form select, #appsys3-smartlogin-form input[type="text"], #appsys3-smartlogin-form input[type="password"] {
    color: #000;
}
#easycontent_23{
position:fixed;
bottom:-10px;
width:100%;
background:#fff5cf;
z-index:99;
margin:0;
border-top:1px solid rgba(0,0,0,0.1);
left:0;
padding:8px 8px 16px 8px;
line-height: 1.8;
font-family: "irswll";
font-size:15px;
font-weight:700;
transition: bottom 0.6s cubic-bezier(0.68, -0.2, 0.32, 1.6);
}
#easycontent_23.viewport-bottom{
bottom:-60px;
}
#multilink_7 > div{
border:0 !important
}
#rightbar_9 i{
font-size:2rem
}
#st_header .search_widget_form_inner.input-group-with-border .form-control{
background:transparent
}
.revws-paging {
    flex-direction: row-reverse;
}
table.kfafeaturespro-table {
    font-size: 13px;
}
.kfafeaturespro-group-title{
background: #e8eaf2;
border-radius: 10px;
display: inline-block;
padding: 5px 0px 5px 20px;
color: #1a3e6f;
position: relative;
z-index: 1;
}
td.kfafeaturespro-feature-name {
padding: 10px 15px 10px 3px;
color: #333;
font-weight: 600;
}
.kfafeaturespro-table .even {
    background-color: #f6f7fb;
}
.kfafeaturespro-table .odd {
    background-color: #fff;
}
.kfafeaturespro-group-title:after{
content: "";
position: absolute;
width: 1500px;
background: #e8eaf2;
height: 2px;
margin-top: 15px;
z-index: -1;
}
.product-features {
    margin-top: .625rem;
    overflow: hidden;
}
#sidebar_box{
display:none
}
.st_pro_videos_box {
    z-index: 9;
    border-radius: 10px;
    margin-bottom: 10px;
direction:ltr
}